.container {
	height: 6vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(222, 184, 135, 0.493);

	input {
		width: 80vw;
		height: 80%;
		border: none;
		background-color: rgba(245, 245, 245, 0.925);
		box-shadow: 1px 2px rgba(197, 197, 197, 0.719);
		font-size: 2em;
		border-radius: 5px;
	}
}
