.container {
	border: 3px solid rgba(0, 0, 0, 0.5);
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin-top: 10px;

	.header {
		display: flex;
		// border: 1px solid silver;
		width: 100%;

		font-size: 2em;
		font-weight: 700;
		.id {
			// border: 1px solid silver;
			width: 25%;
			padding-right: 10px;
		}

		.name {
			// border: 1px solid silver;
			width: 75%;
		}
	}
	.imageDiv {
		// border: 1px solid silver;

		img {
			// border: 1px solid silver;

			width: 120px;
			height: 120px;
		}
	}
}
