@font-face {
	font-family: 'PokemonHallow';
	src: local('PokemonHallow'), url('./Pokemon\ Hollow.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'PokemonSolid';
	src: local('PokemonSolid'), url('./Pokemon\ Solid.ttf') format('truetype');
	font-weight: normal;
}
